/* Minimal custom globals for Mailly */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Custom Scrollbar for MUI Layouts */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #c7c4d8;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
