# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.next/
out/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Databases
*.db
*.db-journal
*.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Keystores and private keys
*.pem
*.key
*.p12
*.pfx
*.cert

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
